@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
body{
    width: 100%;
    background: #fafafa;
    position: relative;
    font-family: 'roboto';
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}
.nav-wrapper{
    width: 70%;
    max-width: 935px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-img{
    height: 100%;
    margin-top: 5px;
}
.search-box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 215px;
    height: 28px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: capitalize;
}
.search-box::placeholder{
    color: rgba(0, 0, 0, 0.5);
}
.nav-items{
    position: relative;
}
.icon{
    height: 22px;
    height: 100%;
    width: 22px;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
    
}
.main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 88px;
    
}
.wrapper{

    width: 70%;
    max-width: 935px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
    
}
.left-col{
    display: flex;
    flex-direction: column;

}
.status-wrapper{
    width: 100%;
    height: 118px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 10px;
    padding-right: 0;
    display: flex;
    align-items: center;
}
.status-card{
    flex:0 0 auto;
    width: 58px;
    max-width: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right:15px ;
    
}
.profile-pic {
    width: 66px;
    height: 66px;
    background-image: url('arquivos/stories_background.jpg');
    background-size: 66px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
}

.profile-pic img {
    width: 56px;
    height: 56px;
    border-radius: 28px;
}
.status-card p{

    font-size: 12px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5);
}
.post{
    width: 100%;
    height: 750px;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 24px;
}
.info{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.info .username{
    width: auto;
    font-weight: normal;
    font-size: 14px;
    margin-left: 10px;
}
.info .options{
    height: 16px;
    cursor: pointer;
}
.info .user {
    display: flex;
    align-items: center;

}
.profile-mini img{
    height: 32px;
    width: 32px;
    padding: 0;
    background: none;
    border-radius: 28px;
}
.post-image{
    width: 100%;
    height: 612px;
    object-fit: cover;

}
.icon-post{
    height: 18px;
    width: 18px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 12px;
}
.post-text{
    width: auto;
    font-weight: normal;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}
.right-col{
    padding: 20px;
}
.profile-card{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}
.profile-card .profile-mini{
    flex: 0 0 auto;
    padding: 0;
    background: none;
    width: 40px;
    height: 40px;
    margin-right: 10px;

}


